@import './index.sass';
@import './AppMedia.scss';

.App {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;

    .header {
        background: url('./../../src/image/header.png') no-repeat bottom;
        background-size: cover;
        background-position-x: left;
        height: 100vh;

        .button-bottom {
            display: flex;
            justify-content: center;
            margin-top: -70px;

            .shevron {
                .shevron-ico {
                    cursor: pointer;
                }
            }
        }

        .navbar {
            width: 100vw;

            .menu {
                display: flex;
                justify-content: space-around;
                background-color: $bg-1;
                align-items: center;

                .menu-logo {
                    //navbar menu
                    color: $color-1;
                    text-transform: uppercase;
                    font-size: 24px;
                }

                .b-menu {
                    display: flex;
                    align-items: center;
                    margin: 10px;

                    .link {
                        color: $color-1;
                        padding: 0 25px;
                        font-size: 20px;
                        transition: 0.3s ease;

                        &:hover {
                            color: $hover-1;
                        }
                    }

                    .circle {
                        background-color: $color-1;
                        border-radius: 100%;
                        padding: 7px;
                        transition: 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            background-color: $hover-1;
                        }
                    }

                    .backet {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .burger-menu {
            display: none;
        }
 
        
        

        .aboutUs {

            .aboutUs-info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: start;
                height: 94svh; //основная страница
                width: 460px;
                padding-left: 20px;

                .aboutUs-title {
                    text-align: center;
                    background-color: $bg-1;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                    opacity: 0.7;
                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 15px;

                    .title {
                        color: $color-2
                    }
                }

                .aboutUs-text {

                    background-color: $bg-1;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 31.69px;
                    opacity: 0.7;
                    padding: 15px;
                    border-radius: 10px;
                    margin-bottom: 20px;

                    p {
                        color: $color-2;
                    }
                }

                .aboutUs-btns {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    width: 460px;

                    .btn-menu {
                        display: flex;
                        align-items: center;
                        background-color: $hover-1;
                        font-size: 26px;
                        padding: 10px 28px;
                        border-radius: 10px;
                        color: black;
                    }
                }
            }
        }
    }

    .main {


        .advantages {
            display: flex;
            flex-wrap: wrap; //Почему мы
            background-color: $bg-1;

            .advantages-heading {
                text-align: center;
                padding-top: 60px;

                .advantages-title {
                    color: $color-1 ;
                    line-height: 43px;
                    font-size: 36px;
                    font-weight: bold;
                }
            }

            .advatage-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                padding: 70px 10px;

                .advantages-block {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    color: $color-2;
                    ;
                    padding: 20px 10px;

                    img {
                        width: 120px;
                    }

                    .advantages-block__title {
                        font-size: 20px;
                        font-weight: 700;
                        padding: 10px 0;
                    }

                    .advantages-block__content {
                        max-width: 340px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }

        .menu {
            background: url('../image/menu.png');
            height: 100vh;
            background-size: cover;
        }

    }




    .footer {
        background-color: $bg-1;
        height: 100%;

        .footer-content {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            padding: 60px 0;

            .content-map {
                iframe {
                    border-radius: 10px;
                }

            }

            .location {
                padding: 0 10px;

                .location-title {
                    margin-bottom: 30px;

                    h2 {
                        font-size: 36px;
                        font-weight: bold;
                        color: $color-1;
                        padding-bottom: 10px;
                    }

                }

                .location-info {
                    margin-bottom: 15px;

                    .address-title {
                        font-size: 18px;
                        margin-bottom: 6px;
                        font-weight: 700;
                        color: $color-1;
                    }

                    .address-info {
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-2;
                    }
                }

            }
        }

        .copyright {
            background-color: #1F1C1E;
            text-align: center;
            padding: 28px 0;
            color: $color-2;
        }
    }
}


