@import '/src/styles/index.sass';

.catProduct-btn {
    background-color: $color-3;
    border: none;
    border-radius: 11px;
    font-size: 17px;
    color: black;
    padding: 7px 24px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: $color-1;
    }
    &:active {
        background-color: $color-2;
    }
}